.create__task {
    position: absolute;
    width: 1366px;
    height: 728px;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}

.task__info{
    position: absolute;
    width: 315px;
    height: 294px;
    left: 526px;
    top: 217px;
    background: #FFFFFF;
    border-radius: 10px;
}

.save {
    position: absolute;
    width: 58px;
    height: 17px;
    left: 756px;
    top: 469px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #0047FF;
}

.cancel {
    position: absolute;
    width: 84px;
    height: 16px;
    left: 658px;
    top: 469px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #0047FF;
}