.menu{
    position: absolute;
    width: 192px;
    height: 728px;
    left: 0px;
    top: 0px;
    /* azul */
    background: #0047FF;
}

.profile__icon {
    position: absolute;
    width: 41px;
    height: 41px;
    left: 24px;
    top: 30px;
}

.todo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 18px;
    position: absolute;
    width: 132px;
    height: 40px;
    left: 30px;
    top: 116px;
    background: #0047FF;
    border-radius: 10px;
}

.todo__tasks{
    position: static;
    width: 48px;
    height: 16px;
    left: 66px;
    top: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
}

.todo__icon {
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 4.17%;
    bottom: 12.5%;
}


.user__name {
    position: absolute;
    width: 38px;
    height: 16px;
    left: 78px;
    top: 33px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF; 
}

.about__us {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px 8px 23px;
    position: absolute;
    width: 132px;
    height: 40px;
    left: 30px;
    top: 170px;
    background: #0039CC;
    border-radius: 10px;
}

.about__icon {
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 8.33%;
    bottom: 8.33%;
}

.about__content {
    position: static;
    width: 37px;
    height: 16px;
    left: 48px;
    top: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
}